In [1]:
import numpy as np
import pandas as pd

In [7]:
DATA_DIRECTORY = '../../../rawdata/REDD'
nrows=None

In [8]:
# Getting mean and std of kitchen outlets tove
#House 1: kitchen_outlets – 7,8,15,16 / stove – 14
#House 2: kitchen outlets – 3,8 / stove – 5
#House 3: kitchen outlets – 21, 22 / stove – n/a
#House 4: kitchen outlets – 5 / stove – 8
#House 5: kitchen outlets – 24, 25 / stove – n/a 
#House 6: kitchen outlets – 3, 13 / stove – 5

outlets_df1=pd.read_table(DATA_DIRECTORY + '/' + 'house_1/channel_7.dat',
                                     sep="\s+",
                                      nrows=nrows,
                                      usecols=[0, 1],
                                      names=['time', 'h1'],
                                      dtype={'time': str},
                                      )

outlets_df2=pd.read_table(DATA_DIRECTORY + '/' + 'house_2/channel_3.dat',
                                     sep="\s+",
                                      nrows=nrows,
                                      usecols=[0, 1],
                                      names=['time', 'h2'],
                                      dtype={'time': str},
                                      )

outlets_df3=pd.read_table(DATA_DIRECTORY + '/' + 'house_3/channel_21.dat',
                                     sep="\s+",
                                      nrows=nrows,
                                      usecols=[0, 1],
                                      names=['time', 'h3'],
                                      dtype={'time': str},
                                      )

outlets_df4=pd.read_table(DATA_DIRECTORY + '/' + 'house_4/channel_5.dat',
                                     sep="\s+",
                                      nrows=nrows,
                                      usecols=[0, 1],
                                      names=['time', 'h4'],
                                      dtype={'time': str},
                                      )

outlets_df5=pd.read_table(DATA_DIRECTORY + '/' + 'house_5/channel_24.dat',
                                     sep="\s+",
                                      nrows=nrows,
                                      usecols=[0, 1],
                                      names=['time', 'h5'],
                                      dtype={'time': str},
                                      )

outlets_df6=pd.read_table(DATA_DIRECTORY + '/' + 'house_6/channel_3.dat',
                                     sep="\s+",
                                      nrows=nrows,
                                      usecols=[0, 1],
                                      names=['time', 'h6'],
                                      dtype={'time': str},
                                      )

In [11]:
outlets_df1['time']=pd.to_datetime(outlets_df1['time'],unit='s')
outlets_df2['time']=pd.to_datetime(outlets_df2['time'],unit='s')
outlets_df3['time']=pd.to_datetime(outlets_df3['time'],unit='s')
outlets_df4['time']=pd.to_datetime(outlets_df4['time'],unit='s')
outlets_df5['time']=pd.to_datetime(outlets_df5['time'],unit='s')
outlets_df6['time']=pd.to_datetime(outlets_df6['time'],unit='s')

In [12]:
outlets_df1.set_index('time',inplace=True)
outlets_df2.set_index('time',inplace=True)
outlets_df3.set_index('time',inplace=True)
outlets_df4.set_index('time',inplace=True)
outlets_df5.set_index('time',inplace=True)
outlets_df6.set_index('time',inplace=True)

In [16]:
outlets_dfa=outlets_df1.join(outlets_df2,how='outer')
outlets_dfb=outlets_dfa.join(outlets_df3,how='outer')
outlets_dfc=outlets_dfb.join(outlets_df4,how='outer')
outlets_dfd=outlets_dfc.join(outlets_df5,how='outer')
outlets_df=outlets_dfd.join(outlets_df6,how='outer')

In [17]:
outlets_df.head()

                     h1  h2   h3  h4  h5  h6
time
2011-04-16 05:11:30 NaN NaN  0.0 NaN NaN NaN
2011-04-16 05:11:33 NaN NaN  0.0 NaN NaN NaN
2011-04-16 05:11:36 NaN NaN  0.0 NaN NaN NaN
2011-04-16 05:11:40 NaN NaN  0.0 NaN NaN NaN
2011-04-16 05:11:43 NaN NaN  0.0 NaN NaN NaN

In [18]:
outlets_df.reset_index(inplace=True)

In [19]:
outlets_df['aggregate']=outlets_df.iloc[:].sum(axis=1)

In [20]:
outlets_df.head()

                 time  h1  h2   h3  h4  h5  h6  aggregate
0 2011-04-16 05:11:30 NaN NaN  0.0 NaN NaN NaN        0.0
1 2011-04-16 05:11:33 NaN NaN  0.0 NaN NaN NaN        0.0
2 2011-04-16 05:11:36 NaN NaN  0.0 NaN NaN NaN        0.0
3 2011-04-16 05:11:40 NaN NaN  0.0 NaN NaN NaN        0.0
4 2011-04-16 05:11:43 NaN NaN  0.0 NaN NaN NaN        0.0

In [21]:
outlets_df.mean()

h1           21.087790
h2            6.181444
h3            2.320257
h4            5.419824
h5            5.727676
h6            5.558726
aggregate    12.272049
dtype: float64

In [22]:
outlets_df.std()

h1            1.870025
h2           37.687006
h3            4.178775
h4           19.112178
h5           73.036356
h6           29.089129
aggregate    28.157518
dtype: float64

In [23]:
outlets_df.max()

time         2011-06-14 01:12:36
h1                           128
h2                           805
h3                           140
h4                           768
h5                        1007.5
h6                          1401
aggregate                 1736.5
dtype: object

In [24]:
outlets_df.min()

time         2011-04-16 05:11:30
h1                             2
h2                             0
h3                             0
h4                             0
h5                             0
h6                             0
aggregate                      0
dtype: object

In [26]:
# Getting mean and std of kitchen outlets tove
#House 1: kitchen_outlets – 7,8,15,16 / stove – 14
#House 2: kitchen outlets – 3,8 / stove – 5
#House 3: kitchen outlets – 21, 22 / stove – n/a
#House 4: kitchen outlets – 5 / stove – 8
#House 5: kitchen outlets – 24, 25 / stove – n/a 
#House 6: kitchen outlets – 3, 13 / stove – 5

stove_df1=pd.read_table(DATA_DIRECTORY + '/' + 'house_1/channel_14.dat',
                                     sep="\s+",
                                      nrows=nrows,
                                      usecols=[0, 1],
                                      names=['time', 'h1'],
                                      dtype={'time': str},
                                      )

stove_df2=pd.read_table(DATA_DIRECTORY + '/' + 'house_2/channel_5.dat',
                                     sep="\s+",
                                      nrows=nrows,
                                      usecols=[0, 1],
                                      names=['time', 'h2'],
                                      dtype={'time': str},
                                      )

stove_df3=pd.read_table(DATA_DIRECTORY + '/' + 'house_4/channel_8.dat',
                                     sep="\s+",
                                      nrows=nrows,
                                      usecols=[0, 1],
                                      names=['time', 'h3'],
                                      dtype={'time': str},
                                      )

stove_df4=pd.read_table(DATA_DIRECTORY + '/' + 'house_6/channel_5.dat',
                                     sep="\s+",
                                      nrows=nrows,
                                      usecols=[0, 1],
                                      names=['time', 'h4'],
                                      dtype={'time': str},
                                      )

stove_df1['time']=pd.to_datetime(stove_df1['time'],unit='s')
stove_df2['time']=pd.to_datetime(stove_df2['time'],unit='s')
stove_df3['time']=pd.to_datetime(stove_df3['time'],unit='s')
stove_df4['time']=pd.to_datetime(stove_df4['time'],unit='s')

stove_df1.set_index('time',inplace=True)
stove_df2.set_index('time',inplace=True)
stove_df3.set_index('time',inplace=True)
stove_df4.set_index('time',inplace=True)

stove_dfa=stove_df1.join(stove_df2,how='outer')
stove_dfb=stove_dfa.join(stove_df3,how='outer')
stove_df=stove_dfb.join(stove_df4,how='outer')

stove_df['aggregate']=stove_df.iloc[:].sum(axis=1)

In [27]:
stove_df.min()

h1           0.0
h2           0.0
h3           0.0
h4           0.0
aggregate    0.0
dtype: float64

In [28]:
stove_df.max()

h1           1483.0
h2            457.0
h3           2080.0
h4           1830.0
aggregate    2080.0
dtype: float64

In [29]:
stove_df.mean()

h1           0.516229
h2           1.436167
h3           8.510806
h4           4.299145
aggregate    4.222186
dtype: float64

In [30]:
stove_df.std()

h1           24.129074
h2           18.932500
h3           67.197546
h4           59.120770
aggregate    50.749060
dtype: float64