In [11]:
import pandas as pd
import numpy as np
import datetime

In [78]:
nrows= None

for i in np.arange(1,21):
    print(i)
    yeah = pd.read_table('./channel_'+str(i)+'.dat',
        sep="\s+",
        nrows=nrows,
        usecols=[0, 1],
        names=['time', 'mains1'],
        dtype={'time': int},
    )
        
    yeah['time']=pd.to_datetime(yeah['time'],unit='s')
        
    print(yeah['time'].min(), yeah['time'].max())

1
2011-04-18 13:22:09 2011-05-24 19:57:02
2
2011-04-18 13:22:09 2011-05-24 19:57:02
3
2011-04-18 13:22:13 2011-05-24 19:56:34
4
2011-04-18 13:22:13 2011-05-24 19:56:34
5
2011-04-18 13:22:13 2011-05-24 19:56:34
6
2011-04-18 13:22:13 2011-05-24 19:56:34
7
2011-04-18 13:22:13 2011-05-24 19:56:34
8
2011-04-18 13:22:13 2011-05-24 19:56:34
9
2011-04-18 13:22:13 2011-05-24 19:56:34
10
2011-04-18 13:22:13 2011-05-24 19:56:34
11
2011-04-18 13:22:13 2011-05-24 19:56:34
12
2011-04-18 13:22:13 2011-05-24 19:56:34
13
2011-04-18 13:22:13 2011-05-24 19:56:34
14
2011-04-18 13:22:13 2011-05-24 19:56:34
15
2011-04-18 13:22:13 2011-05-24 19:56:34
16
2011-04-18 13:22:13 2011-05-24 19:56:34
17
2011-04-18 13:22:13 2011-05-24 19:56:34
18
2011-04-18 13:22:13 2011-05-24 19:56:34
19
2011-04-18 13:22:13 2011-05-24 19:56:34
20
2011-04-18 13:22:13 2011-05-24 19:56:34

In [75]:
yeah1.head()

                 time  mains1
0 2011-04-18 13:22:09  224.19
1 2011-04-18 13:22:10  225.57
2 2011-04-18 13:22:11  226.09
3 2011-04-18 13:22:12  222.74
4 2011-04-18 13:22:13  222.20

In [73]:
bigdata = pd.concat([yeah1,yeah1], ignore_index=False, sort=False)
bigdata.head()

                 time  mains1
0 2011-04-18 13:22:09  224.19
1 2011-04-18 13:22:10  225.57
2 2011-04-18 13:22:11  226.09
3 2011-04-18 13:22:12  222.74
4 2011-04-18 13:22:13  222.20

In [61]:
fine=np.array(datetime.datetime.fromtimestamp(mains_df1['time'][1]))

In [62]:
fine=np.append(fine,datetime.datetime.fromtimestamp(mains_df1['time'][2]))

In [40]:
print(fine)

[datetime.datetime(2011, 4, 18, 6, 22, 10)
 datetime.datetime(2011, 4, 18, 6, 22, 11)]