In [15]:
import redd_parameters
import pandas as pd
import matplotlib.pyplot as plt
import time
import argparse
import os

In [3]:
DATA_DIRECTORY = '../../rawdata/REDD'
SAVE_PATH = '../../trainingdata/redd_kettle'
AGG_MEAN = 522
AGG_STD = 814

In [7]:
    nrows=None
    
    mains1_df = pd.read_table('../../../rawdata/REDD' + '/' + 'house_' + str(1) + '/' + 'channel_' +
                                      str(1) + '.dat',
                                      sep="\s+",
                                      nrows=nrows,
                                      usecols=[0, 1],
                                      names=['time', 'mains1'],
                                      dtype={'time': str},
                                      )

In [8]:
mains1_df

               time  mains1
0        1303132929  224.19
1        1303132930  225.57
2        1303132931  226.09
3        1303132932  222.74
4        1303132933  222.20
...             ...     ...
1561655  1306267018  234.44
1561656  1306267019  235.57
1561657  1306267020  234.77
1561658  1306267021  235.55
1561659  1306267022  235.43

[1561660 rows x 2 columns]

In [9]:
appliance_name='kettle'

In [10]:
train = pd.DataFrame(columns=['aggregate',appliance_name])

In [11]:
train

Empty DataFrame
Columns: [aggregate, kettle]
Index: []

In [12]:
import redd_parameters

In [14]:
params_appliance

{'microwave': {'windowlength': 599,
  'on_power_threshold': 200,
  'max_on_power': 3969,
  'mean': 500,
  'std': 800,
  's2s_length': 128,
  'houses': [1, 2, 3],
  'channels': [11, 6, 16],
  'train_build': [2, 3],
  'test_build': 1},
 'fridge': {'windowlength': 599,
  'on_power_threshold': 50,
  'max_on_power': 3323,
  'mean': 200,
  'std': 400,
  's2s_length': 512,
  'houses': [1, 2, 3],
  'channels': [5, 9, 7],
  'train_build': [2, 3],
  'test_build': 1},
 'dishwasher': {'windowlength': 599,
  'on_power_threshold': 10,
  'max_on_power': 3964,
  'mean': 700,
  'std': 1000,
  's2s_length': 1536,
  'houses': [1, 2, 3],
  'channels': [6, 10, 9],
  'train_build': [2, 3],
  'test_build': 1},
 'washingmachine': {'windowlength': 599,
  'on_power_threshold': 20,
  'max_on_power': 3999,
  'mean': 400,
  'std': 700,
  's2s_length': 2000,
  'houses': [1, 2, 3],
  'channels': [20, 7, 13],
  'train_build': [2, 3],
  'test_build': 1}}

In [16]:
params_appliance['microwave']

{'windowlength': 599,
 'on_power_threshold': 200,
 'max_on_power': 3969,
 'mean': 500,
 'std': 800,
 's2s_length': 128,
 'houses': [1, 2, 3],
 'channels': [11, 6, 16],
 'train_build': [2, 3],
 'test_build': 1}